body {
    margin: 0;
    padding: 0;
    background-color: rgba(36, 181, 99, 0.9);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.widget-container {
    /* może być wysokość lub szerokość, ale nie musi */
    /* width: 31rem;
    height: 31rem; */
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
}

.face {
    background-color: rgba(255, 215, 0, 0.9);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.face .eye-container {
    display: flex;
    width: 5.4rem;
    justify-content: space-between;
    position: relative;
    left: 38px;
    bottom: -25px;
}

.face .eye-container .eye {
    background-color: rgb(32, 29, 43);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.face .mouth-container {
    position: relative;
    left: 40px;
    bottom: -40px;
}

.face .mouth-container .happy-mouth {
    background-color:rgb(32, 29, 43);
    width: 5rem;
    height: 2.3rem;
    border-radius: 0.2rem 0.2rem 9rem 9rem;
}

.face .mouth-container .indiffrent-mouth {
    position: relative;
    top: 8px;
    background-color:rgb(32, 29, 43);
    width: 5rem;
    height: 1.3rem;
    border-radius: 0.5rem;
}

.face .mouth-container .sad-mouth {
    background-color:rgb(32, 29, 43);
    width: 5rem;
    height: 2.3rem;
    border-radius: 9rem 9rem 0 0;
}

.ratings-container {
    display: flex;
    width: 19rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.ratings-container .rating-container div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

div#bad {
    background-color: crimson; 
}

div#okey {
    background-color: cornflowerblue;
}

div#good {
    background-color: yellowgreen;
}

